.prod_detail_page {
  margin: 0 auto;
  max-width: 1366px;
  min-width: 1128px;
  padding: 0;
}
.prod_del_cont {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  display: flex;
  flex-flow: row;
}
.prod_del_buy {
  position: sticky;
  top: 64px;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.prod_del_image_cont {
  display: block;
  width: 100%;
  height: 384px;
  width: inherit;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  position: relative;
}
.prod_del_image {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid #f0f0f0;
}
.prod_del_image img {
  max-width: 352px;
  max-height: 352px;
}

.prod_del_add_cart {
  display: block;
  width: 100%;
}
.prod_del_add_cart-content {
  margin-top: 12px;
}
.prod_del_buttons {
  width: 100%;
  list-style: none;
  display: flex;
  cursor: pointer;
}
.del_list_addtocart_ {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.add_to_cart {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 98%;
  border: none;
  float: left;
  background: #ff9f00;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}
.del_list_buynow {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.buy_now {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 98%;
  border: none;
  float: left;
  background: #fb641b;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600px;
  cursor: pointer;
}
.prod_details {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-flow: column;
}
.prod_del_header {
  display: block;
  width: 10;
  font-family: Roboto, Arial, sans-serif;
}
.prod_del_header-content {
  padding: 0;
  margin-top: 6px;
}
.prod_del_title {
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  display: contents;
}
.prod_del_title span {
  padding: 0;
  line-height: 1.4;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
}
.prod_del_rate-review {
  display: flex;
  vertical-align: middle;
  margin-top: 6px;
  flex-direction: row;
}
.assurance {
  margin-left: 12px;
  vertical-align: middle;
  font-size: 20px;
}
.prod_del_rate-review-assurance {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.prod_del_rating {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 4px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.prod_del_rating img {
  padding-bottom: 2px;
}
.spl_price {
  font-weight: 500;
  text-align: left;
  color: #388e3c;
  margin: 12px 0 -12px;
}
.prod_del_price-discount {
  padding-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.prod_del_Price {
  font-size: 28px;
  vertical-align: sub;
}
.prod_del_MRP {
  font-size: 16px;
  margin-left: 12px;
  vertical-align: middle;
  color: #878787;
  display: inline-block;
  text-decoration: line-through;
}
.prod_del_Discount {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #388e3c;
  vertical-align: middle;
}
.bankoffers {
  display: block;
  width: 100%;
}
.bo_ {
  padding-top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.offer {
  margin-top: 12px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.offers_list img {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
.add_text {
  color: #2874f0;
  font-weight: 600;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.more_offers {
  border: 0;
  outline: none;
  background: #fff;
  border-radius: 0;
  font-size: 14px;
  color: #2874f0;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
}
.warranty {
  width: 100%;
  display: block;
}
.warranty_content {
  font-size: 14px;
  margin-top: 24px;
  display: inline-block;
}
.warranty_title {
  font-weight: 500;
  width: 110px;
  padding-right: 10px;
  color: #878787;
  float: left;
  line-height: 2;
}
.warranty_details {
  position: relative;
  margin-left: 110px;
  color: #212121;
  margin-top: 2px;
  word-spacing: 7px;
}
.warr_details span {
  position: relative;
  display: inline;
  line-height: 2;
}
.delivery_info {
  display: block;
  width: 100%;
}
.delv_info_content {
  display: flex;
  margin-top: 24px;
}
.delv_info_container {
  display: inline-block;
  vertical-align: top;
}
.delv_i_row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delv_i_title {
  color: #878787;
  width: 110px;
  padding-right: 10px;
  font-weight: 500;
}
.delv_pincode_container {
  margin-left: 0;
}
.delv_pin_content {
  position: relative;
  border-radius: 2px;
}
.delv_pin_area {
  padding: 0 0 4px;
  border: none;
  border-bottom: 2px solid #2874f0;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delv_pin_form {
  display: inline-block;
  line-height: 25px;
}
.delv_form_input {
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  width: 144px;
  padding-left: 6px;
  vertical-align: middle;
  font: 14px;
}

.delv_check {
  font-weight: 570;
  cursor: pointer;
  font-size: 14px;
  margin-top: 3px;
  color: #2874f0;
  margin-left: auto;
  position: relative;
}
.dc_line2 {
  margin: 8px 0 0 110px;
}
.del_time-price {
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 650px;
  display: flex;
  flex-flow: row;
}
.line {
  margin: 0 4px 0 5px;
  color: #c2c2c2;
  display: inline-block;
}
.del_fee {
  color: #388e3c;
}
.del_fee span {
  color: #878787;
  text-decoration: line-through;
  font-weight: 500;
  margin-left: 4px;
}
.del_timings {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  margin-bottom: 8px;
}
.highlights-services {
  padding: 24px 0px 0px;
  display: flex;
  flex-flow: row;
}
.highlights_cont {
  padding-right: 16px;
}
.high_title {
  font-weight: 500;
  color: #878787;
  width: 110px;
  padding-right: 10px;
  float: left;
}
.high_list {
  margin-left: 110px;
}
.list_highlights li {
  color: #212121;
  padding: 0 0 8px 16px;
  position: relative;
  list-style: none;
}
.services_cont {
  margin-top: 20px;
}
.services_title {
  color: #878787;
  width: 110px;
  padding-right: 10px;
  float: left;
  font-weight: 500;
}
.services_list {
  margin-left: 110px;
  list-style: none;
}
.serv1 {
  color: #212121;
  position: relative;
  padding-bottom: 8px;
}
.serv_icon {
  vertical-align: middle;
  height: 16px;
  margin: 2px 8px 0 0;
  width: 16px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.serv1_content {
  margin-left: 17px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}
.serv_icon2 {
  vertical-align: middle;
  height: 16px;
  margin: 2px 8px 0 0;
  width: 16px;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
}
